.leaf {
    position: fixed;
    top: 0;
    z-index: 9999;
}

.x {
    position: fixed;
    top: 0;
    left: -6rem;
}

.y {
    /* animation: y 7s linear infinite alternate; */
    /* offset-path: path('M.4 84.1s127.4 188 267.7 0 247.3 0 247.3 0'); */
    /* offset-path: path('M-70,-40 C-70,70 70,70 70,-40'); */
    offset-path: path('M2.27667 40.7204C10.034 47.6159 28.9373 49.722 38.4214 53.4582C61.0309 62.365 84.2314 69.2148 106.138 79.9135C152.304 102.46 203.069 118.728 252.459 132.606C305.272 147.446 358.529 160.323 411.627 173.977C442.142 181.824 473.441 186.588 503.839 194.662C531.221 201.935 559.363 209.014 587.233 213.932C672.916 229.053 761.277 236.686 848.303 236.686C908.123 236.686 973.565 226.517 1022.28 189.654C1055.87 164.229 1087.28 113.775 1057.66 73.3813C1024.17 27.7188 955.607 15.8526 903.935 7.40632C849.09 -1.55872 792.318 -1.37736 741.066 23.0835C697.676 43.7925 662.878 70.116 639.6 112.792C628.065 133.94 621.871 158.403 616.628 181.707C611.477 204.601 601.219 225.972 598.447 249.532C594.923 279.487 594.092 308.328 594.092 338.588C594.092 356.588 593.25 374.176 597.032 391.825C599.69 404.23 601.168 417.185 602.04 429.821C609.123 532.535 664.438 625.55 746.945 685.556C788.103 715.489 834.71 740.004 884.012 753.055C942.794 768.615 1003.61 771.671 1064.19 771.671C1099.95 771.671 1135.27 771.844 1170.77 766.772C1190.97 763.887 1211.67 760.19 1229.46 749.68C1245.89 739.966 1260.98 728.525 1276.05 716.801C1298.7 699.189 1325.33 687.114 1348.12 669.769C1365.59 656.478 1376.23 639.789 1389.71 622.629C1404.01 604.427 1416.38 583.612 1426.95 563.077C1437.24 543.06 1447.74 522.433 1455.47 501.348C1465.38 474.327 1474.79 445.508 1486.71 419.151C1493.66 403.795 1504.56 390.891 1512.73 376.257C1518.2 366.473 1523.01 357.406 1530.15 348.604C1548.32 326.214 1566.3 305.058 1586.77 284.589C1606.55 264.806 1627.98 246.56 1649.26 228.412C1663.25 216.478 1685.67 203.278 1704.13 201.521C1717.61 200.237 1730.25 197.493 1743.97 197.493C1750.65 197.493 1757.33 197.493 1764.01 197.493C1771.61 197.493 1777.28 200.444 1784.58 201.303C1803.74 203.557 1822.79 217.848 1836.51 230.807C1855.79 249.018 1873.03 266.655 1884.2 291.338C1936.99 407.967 1913.08 610.98 1751.38 610.98C1732.78 610.98 1715.3 596.961 1706.3 581.367C1690.38 553.762 1691.23 516.758 1700.86 487.522C1714.44 446.318 1753.85 412.973 1799.06 417.083C1819.26 418.919 1838.91 429.27 1857.63 436.135C1869.49 440.484 1879.85 452.47 1885.72 463.244C1897.7 485.206 1904.19 506.117 1909.02 530.852C1914.88 560.829 1921.57 590.843 1924.7 621.322C1931.35 686.166 1972.06 744.108 2020.72 785.28C2054.75 814.074 2093.67 839.085 2135.47 855.066C2155.56 862.748 2181.44 875.533 2202.97 875.533');
    offset-distance: 0;
    mix-blend-mode: lighten;
    animation: move 20s infinite ease-in normal;
    transform: rotateZ(80deg);
    filter: hue-rotate(327deg) drop-shadow(1px 2px 50px rgba(0, 0, 0, 0.525));
    z-index: 9999;
}


@keyframes x {
    100% {
        transform: translateX( calc(100vw - 150px ));
    }
}

@keyframes move {
    to {
      offset-distance: 100%;
    }
  }

@keyframes y {
    100% {
        transform: translateY( calc(100vh - 96px ));
    }
}